body {
    padding: 0;
    margin: 0;
}
#header {
    width: 960px;
    margin: 0 auto;
}
#logo {
    width: 100px;
    display: inline-block;
    float: left;
}
#logotype {
    width: 350px;
    height: 100px;
    display: inline-block;
    margin-left: -45px;
}
#admin {
    float: right;
    height: 100px;
    line-height: 150px;
    margin-right: 20px;
}
#admin a {
    color: #6D6E71;
    font-family: "Century";
    font-size: 14px;
    text-decoration: none;
}
#admin a:hover {
    text-decoration: underline;
}
#footer {
    width: 960px;
    height: 40px;
    border-top: 1px dashed #CCC;
    margin: 20px auto 0px auto;
    text-align: center;
    line-height: 40px;
    color: #CDCCCC;
    font-family: "HelveticaNeue";
    font-size: 13px;
    position: relative;
}
#copyright {
    position: absolute;
    height: 40px;
    left: 0;
    right: 50%;
    text-align: left;
}
#social {
    position: absolute;
    height: 40px;
    right: 0;
}
#social a {
    color: #cdcccc;
}
#social a:hover span {
    text-decoration: underline;
}
#facebook {
    display: inline-block;
    background: url(../images/facebook_icon.png) no-repeat;
    background-size: 20px 20px;
    background-position: center left;
    padding-left: 30px;
    margin-right: 50px;
}
#twitter {
    display: inline-block;
    background: url(../images/twitter_icon.png) no-repeat;
    background-size: 20px 20px;
    background-position: center left;
    padding-left: 30px;
}