<div id="about_menu">
    <span class="about_menu_item">What We Do</span>
    <span class="about_menu_item">Our Mission</span>
    <span class="about_menu_item">Our Veternarians</span>
    <span class="about_menu_item">Volunteering</span>
    <span class="about_menu_item">Statistics</span>
    <span class="about_menu_item">About This Website</span>
</div>
<div id="about" class="white_container">
    <div class="heading_container">
        <div><span class="icon">#</span><h3>About</h3></div>
    </div>
</div>