<div id="inner_container">
    <div id="foster" class="white_container">
        <div class="heading_container">
            <div><span class="icon">2</span><h3>A New Beginning Pet Rescue Inc “Sponsor-A-Pet” Program</h3></div>
        </div>
        <div class="foster_info">
            <p class="copy">ANB is a non-profit, no-kill rescue. Your donation is greatly appreciated and tax deductible (Tax ID 59-3749154). For $25.00, you can provide for one of our animals in need for several months. 100% of your donation goes towards caring for the pets, and there is no obligation to renew. However, your continued support is greatly appreciated and tax deductible.</p>
            <p class="copy">Not sure you're ready to adopt?! That's ok, you can help the shelter by fostering a pet until we have found them a new home. Just make sure the "foster" button is check before you submit the following form. Not only will this provide much needed help to our shelter, but it will give you the time to see if your new pet is the right fit for you and your family!</p>
        </div>
        <div id="form_container">
        	<form method="post" action="xhr/send_form_email.php">
        		<div id="choose">
        			<h5>I would like to</h5>
                    <label for="adopt_choice">Adopt</label>
                    <input id="adopt_choice" type="radio" name="choice" value="adopt" checked="checked"></input>
                    <label for="foster_choice">Foster</label>
        			<input id="foster_choice" type="radio" name="choice" value="foster"></input>
        		</div>
                <fieldset>
                    <label for="petname" id="petname_label">The pet I want to adopt is</label>
                    <input type="text" id="petname"></input>
                    <p class="sec_content">Haven't found your pet yet? <a href="#pets">Click here</a> to browser our shelters pets!</p>
                </fieldset>
        		<fieldset>
        			<label for="firstname">First Name</label>
        			<input type="text" id="firstname"></input>
        			<label for="lastname">Last Name</label>
        			<input type="text" id="lastname"></input><br>
        		</fieldset>
        		<fieldset>
        			<label for="address">Address</label>
        			<input type="text" id="address"></input><br>
        			<label for="city">City</label>
        			<input type="text" id="city"></input><br>
        			<label for="state">State</label>
        			<input type="text" id="state"></input><br>
        			<label for="zip">Zip Code</label>
        			<input type="text" id="zip"></input>
        		</fieldset>
        		<fieldset>
        			<label for="phone">Contact #</label>
        			<input type="text" id="phone" value="xxx-xxx-xxxx"></input><br>
                    <label for="email">Email</label>
                    <input type="text" id="email" value="example@domain.com"></input>
        		</fieldset>
        		<div id="submit_container">
    	    		<input type="submit" value="Submit" id="submit"/>
    	    	</div>
        	</form>
        </div>
        <div class="foster_info"></div>
    </div>
</div>