<div class="bar"></div>
            
<div id="welcome">
    <div id="who_we_are">
        <div id="who_info">
            <div id="who_info_window">
                <span class="icon">2</span><h2>Who We Are</h2>
                <p class="copy">We are a non-profit, 501(c)3 rescue group. We have been rescuing and finding homes for unwanted pets since July 2001. We primarily rescue animals that are on death row at local Animal Control agencies to save the lives of the animals. Unfortunately, traditional local shelters are forced to use euthanasia regardless of age or health, as a means to control "overpopulation" of "unwanted" animals. The purpose of our organization is to save discarded companion pets' lives and find new homes for them.</p>
            </div>
            <div id="adopt_btn">
                <div class="orange_button"><span class="btn_icon">.</span>Adopt</div>
            </div>
        </div>
    </div>
    <div id="welcome_image">
        <div id="pets"></div>
        <div id="clouds"></div>
    </div> <!-- #welcome_image div ends here -->
</div>

<div class="bar"></div>

<div id="inner_container">
	<div id="adoptions">
	    <div class="heading_container">
	        <div><span class="icon">2</span><h3>Regular Adoptions</h3></div>
	    </div>
	</div>
	<div id="events">
	    <div class="heading_container">
	        <div><span class="icon">2</span><h3>Special Events</h3></div>
	    </div>
	</div>
	<div id="help">
	    <div class="heading_container">
	        <div><span class="icon">2</span><h3>You Can Help!</h3></div>
	    </div>
	</div>
</div>