<div id="welcome">
    <div id="who_we_are">
        <div id="who_info">
            <div id="who_info_window">
                <span class="icon">2</span><h2>Who We Are</h2>
                <p class="copy">We are a non-profit, 501(c)3 rescue group. We have been rescuing and finding homes for unwanted pets since July 2001. We primarily rescue animals that are on death row at local Animal Control agencies to save the lives of the animals. Unfortunately, traditional local shelters are forced to use euthanasia regardless of age, health or breed, as a means to control "overpopulation" of "unwanted" animals. The purpose of our organization is to save discarded companion pets' lives and find new homes for them.</p>
            </div>
            <div id="adopt_btn">
                <div class="orange_button"><span class="btn_icon">.</span>Adopt</div>
            </div>
        </div>
    </div>
 
   <img  src="images/pets.svg" height="223" width="392" alt="Cat and Dog in Cloud" id="animals"/>
   <img src="images/clouds.svg" height="277" width="832" alt="Clouds in images" id="clouds" />

</div>

<div class="bar"></div>

<div id="inner_container">
	<div id="adoptions">
	    <div class="heading_container">
	        <div><span class="icon">2</span><h3>Regular Adoptions</h3></div>
	    </div>
	    <div id="ps_logo"> </div>
	    <h5>Altamonte Springs</h5>
	    <p class="sec_content">Saturday and Sunday 11:00 am - 4:00 pm <br>
	    	380 S. State Rd 434, Altamonte Springs</p>
	    <h5>Orlando</h5>
	    <p class="sec_content">Saturday and Sunday 1:00 pm - 5:00 pm <br>
	    	3232 E. Colonial Drive, Orlando </p>
	    <div class="green_note"><p class="sec_content">We are in great need of volunteers to help with daytime animal care and weekend adoptions.</p></div>

	</div>
	<div id="events">
	    <div class="heading_container">
	        <div><span class="icon">2</span><h3>Special Events</h3></div>
	    </div>
	    <div class="special_event">
	    	<div class="event_date"> <span class="event_month">oct</span><span class="event_day"> 31</span></div>
	        <div class="event_info">
	        	<h5>Dog Adoptions</h5>
	        	<p class="sec_content">Veggie Fest<br>
	        		Loch Haven Park 900 E. Princeton Street.Orlando, FL 32803</p>
	        </div>
	    </div>
	    <div class="special_event">
	    	<div class="event_date"> <span class="event_month">oct</span><span class="event_day"> 31</span></div>
	        <div class="event_info">
	        	<h5>Dog Adoptions</h5>
	        	<p class="sec_content">Veggie Fest<br>
	        		Loch Haven Park 900 E. Princeton Street.Orlando, FL 32803</p>
	        </div>
	    </div>
	     <div class="special_event">
	    	<div class="event_date"> <span class="event_month">oct</span><span class="event_day"> 31</span></div>
	        <div class="event_info">
	        	<h5>Dog Adoptions</h5>
	        	<p class="sec_content">Veggie Fest<br>
	        		Loch Haven Park 900 E. Princeton Street.Orlando, FL 32803</p>
	        </div>
	    </div>

	</div>
	<div id="help">
	    <div class="heading_container">
	        <div><span class="icon">2</span><h3>You Can Help!</h3></div>
	    </div>
	    <p class="sec_content">
	    <!-- We do not have a "public shelter". We have a network of foster homes that help take care of our homeless pets until we can find permanent homes for them.<br><br>  -->
	    We need loving foster homes to provide temporary housing for our pets.<br><br>
	    Due to many bounced checks, we now require that adoption donations be cash only! However, if you would like to make a general donation to the organization (not associated with the adoption of a pet) we do accept checks and Paypal
		</p>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="sbigthumbs1@aol.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="A New Beginning Pet Rescue Inc">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="bn" value="PP-DonationsBF:paypal.png:NonHostedGuest">
			<div id="green_btn_container">
		        <input type="submit" class="green_button" value="Donate"/>
			</div>
		</form>
        
	</div>
</div>