<div  class="white_container petDetails" id="<%= id %>" >
	<div class="heading_container">
		<span class="icon">2</span><h3><%= name %> Details </h3>
	</div>
	<div >
		<p><a href="" class="backToPets" >Back to our pets</a></p>
		<div class="pImage">
			<p class="pName"><%= name %></p>
			<p class="pPhoto"><img src="<%= photo %>" width="390" /><p>
			
			<ul class="thumbs">
				<%= photos %>
			</ul>	
			
			<div class="pGlanceDetail">
				<span><%= size == "s" ? "Small" : size %></span> | <span><%= age %></span> | <span><%= sex %></span>
			</div>

			<div id="pDetailActions">
				<a href="#foster" class="blue_button selected detail_adopt">Adopt Me!</a>
			</div>

			<div class="pDescription">
				<h4>Pet Description: </h4>
				<p ><%= description %></p>
				
			</div>
		</div>		

		<div class="pDetails">
			
			<div class="pContact">
				<h4>Pet Contact Info: </h4>
				<p class="pContact"><a href="mailto:<%= email %>?subject=<%= name %> <%= id %> Information "><%= email %></a></p>

			</div>
			<div class="pBreeds">
				<h4>Pet Breeds: </h4>
				<p ><%= breeds[0] %></p>
				<p ><%= breeds[1] %></p>
			</div>
			<div class="pMix">
				<h4>Mixed: </h4>
				<p ><%= mix %></p>
				
			</div>
			<div class="pOptions">
				<h4>Other Information: </h4>
				<p ><%= options.option[0] %></p>
				<p ><%= options.option[1]  %></p>
				<p ><%= options.option[2]  %></p>
			</div>						
		</div>
	</div>
</div>