<div id="inner_container">
	<div id="filter_menu" class="white_container">
	    <div class="heading_container">
	        <div><h4>Filter your Results<span class="icon right">,</span></h4></div>
	    </div>
	    <div id="filters" class="open">
	    	<ul id="filterButtons"></ul>
	    </div>
	</div>
	<div id="results_container" class="white_container">
		<div class="heading_container">
	        <div><span class="icon">-</span><h3>Our Pets</h3></div>
	    </div>
	    <div id="pet_results"></div>
	    <div id="pagination"></div>
	</div>
</div>