body {
    padding: 0;
    margin: 0;
    background: url(../images/bg_texture.jpg) repeat;
    background-size: 45px 45px;
}
#wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h2 {
    color: #65BCB7;
    font-family: "Century";
    font-size: 24px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
}
h3 {
    color: #65BCB7;
    font-weight: normal;
    font-family: "Century";
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    height: 37px;
    line-height: 37px;
    padding: 0;
}
h4 {
    color: #65BCB7;
    font-weight: normal;
    font-family: "Century";
    font-size: 16px;
    margin: 0px 0px 0px 10px;
    height: 37px;
    line-height: 37px;
    padding: 0;
}
h5 {
    color: #808285;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family: "Rockwell";
    font-size: 15px;
    margin-bottom: 10px;
}
fieldset {
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
    border-radius: 5px;
}
input[type="text"] {
    color: #808285;
    border-radius: 3px;
    border: 1px solid #D2D2D2;
    font-size: 14px;
    font-family: "Century";
    font-weight: lighter;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(128, 130, 133, .5);
    box-shadow: inset 0px 1px 2px 0px rgba(128, 130, 133, .5);
    margin: 5px 20px 5px 0px;
}
input[type="submit"] {
    color: white;
    font-family: "Rockwell";
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    padding: 0px 30px;
    line-height: 30px;
    border: 1px solid #8bceca;
    text-shadow: 0px -1px 1px #8bceca;
    background: #8bceca; 
    background: -moz-linear-gradient(top,  #f7fbfb 0%, #8bceca 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bceca), color-stop(100%,#8bceca));
    background: -webkit-linear-gradient(top,  #f7fbfb 0%,#8bceca 100%);
    background: -o-linear-gradient(top,  #f7fbfb 0%,#8bceca 100%);
    background: -ms-linear-gradient(top,  #f7fbfb 0%,#8bceca 100%);
    background: linear-gradient(to bottom,  #f7fbfb 0%,#8bceca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfb', endColorstr='#8bceca',GradientType=0 );
}
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    box-shadow: inset 0px 1px 2px 0px rgba(128, 130, 133, .5);
    vertical-align: middle;
    -webkit-appearance: none;
}
label {
    color: #808285;
    font-size: 14px;
    font-family: "Century";
    font-weight: lighter;
    width: 100px;
    display: inline-block;
}

/* ------------------------------ classes ------------------------------ */

.icon {
    color: #BEBEC1;
    font-family: "icomoon";
    font-size: 35px;
    display: block;
    float: left;
    margin-right: 5px;
    height: 35px;
    line-height: 35px;
}
.right {
    float: right;
}
.heading_container .icon {
    font-size: 35px;
    margin: 0px 5px;
}
.copy {
    font-family: "Century";
    font-size: 13px;
    color: #6D6E71;
    line-height: 18px;
}
.btn_icon {
    font-family: "icomoon";
    font-size: 65px;
    margin-left: 20px;
    vertical-align: -15px;
    text-shadow: 0px -2px 1px #fa7414;
    filter: dropshadow(color=#fa7414, offx=0, offy=-2);
}
.white_container {
    background-color: white;
    border: 1px solid #d4d5d4;
    border-radius: 10px;
    -webkit-box-shadow:  0px 4px 10px 1px rgba(0, 0, 0, .25);        
    box-shadow:  0px 4px 10px 1px rgba(0, 0, 0, .25);
}
.blue_button {
    color: white;
    font-family: "Rockwell";
    font-size: 14px;
    height: 30px;
    border-radius: 5px;
    padding: 0px 5px;
    line-height: 30px;
    border: 1px solid #898989;
    text-shadow: 0px -1px 1px #898989;
    background: #898989; 
    background: -moz-linear-gradient(top,  #dddddd 0%, #898989 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#898989), color-stop(100%,#898989));
    background: -webkit-linear-gradient(top,  #dddddd 0%,#898989 100%);
    background: -o-linear-gradient(top,  #dddddd 0%,#898989 100%);
    background: -ms-linear-gradient(top,  #dddddd 0%,#898989 100%);
    background: linear-gradient(to bottom,  #dddddd 0%,#898989 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#898989',GradientType=0 );
    
}
.blue_button.selected {
    border: 1px solid #3094bf;
    text-shadow: 0px -1px 1px #3094bf;
    background: #3094bf; 
    background: -moz-linear-gradient(top,  #cae2eb 0%, #3094bf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3094bf), color-stop(100%,#3094bf));
    background: -webkit-linear-gradient(top,  #cae2eb 0%,#3094bf 100%);
    background: -o-linear-gradient(top,  #cae2eb 0%,#3094bf 100%);
    background: -ms-linear-gradient(top,  #cae2eb 0%,#3094bf 100%);
    background: linear-gradient(to bottom,  #cae2eb 0%,#3094bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae2eb', endColorstr='#3094bf',GradientType=0 );
}

/* ------------------------------ header ------------------------------ */

#header {
    width: 960px;
    height: 100px;
    margin: 10px auto 0px auto;
}
#logo {
    width: 100px;
    float: left;
}
#logotype {
    width: 350px;
    height: 100px;
    float: left;
}
#admin {
    float: right;
    height: 100px;
    line-height: 150px;
    margin-right: 20px;
}
#admin a {
    color: #6D6E71;
    font-family: "Century";
    font-size: 14px;
    text-decoration: none;
}
#admin a:hover {
    text-decoration: underline;
}

/* ------------------------------ top bar ------------------------------ */

.bar {
    width: 100%;
    height: 20px;
    border: 1px solid #d4d5d4;
    -webkit-box-shadow: inset 0px 0px 1px 1px #fff;
    box-shadow: inset 0px 0px 1px 1px #fff;
    background: #3094bf;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
}

/* ------------------------------ welcome area ------------------------------ */

#welcome_container {
    position: absolute;
    left: 0;
    right: 0;
}
#welcome {
    position: relative;
    width: 100%;
    height: 400px;
    background: #cae2eb;
    background: -moz-linear-gradient(top, #3094bf 0%, #cae2eb 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3094bf), color-stop(100%,#cae2eb));
    background: -webkit-linear-gradient(top,  #3094bf 0%,#cae2eb 100%);
    background: -o-linear-gradient(top,  #3094bf 0%,#cae2eb 100%);
    background: -ms-linear-gradient(top,  #3094bf 0%,#cae2eb 100%);
    background: linear-gradient(to bottom,  #3094bf 0%,#cae2eb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3094bf', endColorstr='#cae2eb',GradientType=0 );
}
#who_we_are {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#who_info {
    width: 960px;
    height: 85%;
    margin: 2% auto;
}
#who_info_window {
    position: relative;
    z-index: 11;
    width: 270px;
    height: 90%;
    border-radius: 10px;
    background: url(../images/pattern-bg.jpg) repeat;
    padding: 2%;
    float: left;
}
#welcome_image {
    position: relative;
    height: 100%;
}
#pets {
    position: absolute;
    bottom: -18px;
    left: 35%;
    width: 392px;
    height: 223px;
    background: url(../images/pets.svg) no-repeat;
    background-position: bottom center;
    z-index: 10;
}
#clouds {
    position: absolute;
    bottom: 0;
    left: 17%;
    width: 832px;
    height: 277px;
    background: url(../images/clouds.svg) no-repeat;
    background-position: bottom center;
    background-size: 832px 277px;
    z-index: 9;
}
#adopt_btn {
    float: right;
    position: relative;
    bottom: -74%;
    z-index: 11;
}
#adopt_btn:hover{
    cursor: pointer;

}
#adopt_btn div {
    display: inline-block;
    width: 240px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #fb9042;
    text-align: left;
    line-height: 100px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: "Century";
    text-shadow: 0px -2px 1px #fa7414;
    text-transform: uppercase;
    filter: dropshadow(color=#fa7414, offx=0, offy=-1);
    background: rgb(255,255,255); 
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,117, 19,1) 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(75%,rgba(251,117, 19,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,117, 19,1) 75%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,117, 19,1) 75%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,117, 19,1) 75%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(251,117, 19,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fb7513',GradientType=0 );
}

/* ------------------------------ nav ------------------------------ */

#nav {
    position: relative;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    border: 1px solid #d4d5d4;
    box-shadow: inset 0px 0px 1px 1px #fff;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%);
    -webkit-box-shadow: inset 0px 0px 1px 1px #fff;
    -webkit-transition: all .5s ease;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
}
#nav_list {
    position: relative;
    z-index: 1;
    list-style: none;
    margin: 0 auto;
    width: 760px;
    height: 25px;
    padding: 10px 0px;
}
#nav_list li {
    height: 15px;
    width: 188px;
    line-height: 15px;
    text-align: center;
    float: left;
}
#nav_list li:not(:last-child) {
    border-right: 1px solid #d4d5d4;
}
#nav_list li:not(:first-child) {
    border-left: 1px solid white;
}
#nav_list li a {
    font-family: "Rockwell";
    font-size: 12px;
    text-decoration: none;
    color: #2d93bf;
}
#nav_list li a:hover {
    text-decoration: underline;
}
.radial_shadow {
    width: 760px;
    height: 30px;
    margin: 0 auto;
    opacity: .75;
    position: relative;
    z-index: -1;
    top: -28px;
    left: -280px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(
        radial, center center, 0px, center center, 100%, 
        color-stop(0%,rgba(0,0,0,1)), 
        color-stop(75%,rgba(255,255,255,0)), 
        color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 );
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* ------------------------------ footer ------------------------------ */

#footer {
    margin-top: 20px;
    border-top: 1px dashed #CCC;
    line-height: 40px;
    color: #CDCCCC;
    font-family: "HelveticaNeue";
    font-size: 13px;
}
#footer_container {
    width: 960px;
    margin: 20px auto;
    height: 40px;
}
#copyright {
    height: 40px;
    text-align: left;
    width: 420px;
    float: left;
}
#social {
    height: 40px;
    text-align: right;
    width: 420px;
    float: right;
}
#social a {
    color: #cdcccc;
}
#social a:hover span {
    text-decoration: underline;
}
#facebook {
    display: inline-block;
    background: url(../images/facebook_icon.png) no-repeat;
    background-size: 20px 20px;
    background-position: center left;
    padding-left: 30px;
    margin-right: 50px;
}
#twitter {
    display: inline-block;
    background: url(../images/twitter_icon.png) no-repeat;
    background-size: 20px 20px;
    background-position: center left;
    padding-left: 30px;
}

/* ------------------------------ container ------------------------------ */

#container {
    width: 100%;
}
#inner_container {
    width: 960px;
    margin: 0px auto 0px auto;
    overflow: hidden;
}
#adoptions, #events, #help {
    width: 298px;
    height: 398px;
    float: left;
    border: 1px solid #d4d5d4;
    border-radius: 10px;
    -webkit-box-shadow:  0px 4px 10px 1px rgba(0, 0, 0, .25);        
    box-shadow:  0px 4px 10px 1px rgba(0, 0, 0, .25);
}
.heading_container {
    border-bottom: 1px solid #d4d5d4;
    background: url(../images/pattern-bg.jpg) repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#adoptions {
    margin: 15px 15px 15px 15px;
}
#events {
    margin: 15px 0px;
}
#help {
    margin: 15px 15px 15px 15px;
}

/* ------------------------------ Home ------------------------------ */

#inner_container h5{

    margin: 15px 10px ;
    color:orange;

}
#inner_container .sec_content{
    font: 13px/1.2em Helvetica, arial sans-serif;
    color: gray;
    margin: 10px 10px auto 10px;

}

/* ------------------------------ about ------------------------------ */

#about {
    width: 620px;
    height: 398px;
    margin: 0px 15px;
    float: right;
}
#about_menu {
    float: left;
    width: 300px;
    height: 398px;
}
#about_menu span {
    display: block;
    height: 50px;
    color: #2c92be;
    font-family: "Rockwell";
    font-size: 18capx;
    line-height: 50px;
    margin: 12px;
}
#about_menu span:hover {
    background: url(../images/about_indicator.svg) no-repeat;
    background-position: center right;
    cursor: pointer;
}

/* ------------------------------ pets ------------------------------ */

#filter_menu {

}
#filters {
    padding: 10px;
    overflow: hidden;
}
#filters div {
    margin-right: 20px;
    float: left;
}
#results_container {
    height: 508px;
    margin-top: 20px;
    overflow: hidden;
}

/* ------------------------------ pet item template ------------------------------ */

.pet_container {
    position: relative;
    width: 215px;
    height: 130px;
    background: url(../images/dog_tag.svg) no-repeat;
    background-position: center center;
    float: left;
    margin-left: 25px;
}
.pet_container img {
    position: absolute;
    bottom: 4px;
    width: 60px;
    height: 60px;
    border: 1px solid #80807E;
}
.pet_container .heading {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 150px;
}
.pet_container .heading span {
    color: #6D6E71;
}
.pet_container .name {
    font-family: "Helvetica Neue";
    font-size: 14px;
    float: left;
}
.pet_container .type {
    font-family: "Helvetica Neue";
    font-size: 12px;
    float: right;
}
.pet_container .info {
    height: 55px;
    position: absolute;
    width: 145px;
    top: 50px;
    left: 35px;
}
.pet_container .details {
    width: 72px;
    float: right;
    font-family: "Helvetica Neue";
    font-size: 12px;
    color: #6d6e71;
    padding-top: 6px;
}

/* ------------------------------ foster ------------------------------ */

#foster .foster_info a {
    text-decoration: none;
    color: #2d93bf;
}
#foster .foster_info a:hover {
    text-decoration: underline;
}
.foster_info {
    margin: 20px;
}
#form_container {
    padding: 10px;
    width: 600px;
    margin: 0 auto;
}
form {
    overflow: hidden;
}
#inmemory {
    width: 500px;
}
#choose {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}
#choose h5 {
    font-size: 14px;
    font-family: "Century";
    margin-left: 5px;
    margin-right: 10px;
    float: left;
}
#choose a {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}
#submit_container {
    width: 400px;
    float: right;
}
label[for="agree"] {
    width: 200px;
    height: 40px;
    line-height: 40px;
}
#submit {
    float: right;
}



