/*
#test {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid cornflowerBlue;
	height: 1000px;
}
.pet-container {
	border: 1px solid indianRed;
	height: 100px;
}
*/

body {
	color: gray;
	font: normal 12px/1.4em Helvetica;
}
.pet-container { width:400px; padding:10px; border:1px solid #aaa; margin:0 10px 10px 0; float:left; font-family:sans-serif; color:#333; background-color:#eee; }
.pet-container h1 { margin:0; font-weight:normal; }
.pet-container h1 span { float:right; font-size:14px; line-height:24px; font-weight:normal; }
.pet-container img { border-width:1px; border-style:solid; border-color:#fff; border-right-color:#aaa; border-bottom-color:#aaa; margin-right:10px; float:left; }
.pet-container div { margin-bottom:24px; font-size:14px; }
.pet-container a { color:#333;}
.pet-container dl { margin:0; float:left; font-size:14px; }
.pet-container dt, .pet-container dd { margin:0; float:left; }
.pet-container dt { width:50px; clear:left; }
button.selected { background-color: aqua; }


/* -------------------------------------------------  Pet TAG ------------------------------------------- */
