.container {
	position: relative;
	width: 215px;
	height: 130px;
	background: url(dog_tag.svg) no-repeat;
	background-position: center center;
}
img {
	position: absolute;
	bottom: 4px;
	width: 60px;
	border: 1px solid #80807E;
}
.heading {
	position: absolute;
	top: 20px;
	left: 35px;
}
.heading span {
	display: block;
	color: #6d6e71;
}
.name {
	font-family: "Helvetica Neue";
	font-size: 14px;
}
.type {
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #;
}
.info {
	height: 55px;
	position: absolute;
	width: 145px;
	top: 50px;
	left: 35px;
}
.details {
	width: 72px;
	float: right;
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #6d6e71;
	padding-top: 6px;
}