<div id="inner_container">
	<div id="about_menu">
	    <span class="about_menu_item active" >What We Do</span>
	    <span class="about_menu_item" >Our Mission</span>
	    <span class="about_menu_item" >Our Veterinarians</span>
	    <span class="about_menu_item"  >Volunteering</span>
	    <span class="about_menu_item" >Statistics</span>
	    <span class="about_menu_item" >About This Website</span>
	</div>
	<div id="about" class="white_container">
	    <div class="heading_container">
	        <div><span class="icon">-</span><h3>What We Do</h3></div>
	    </div>
	    <div class="about_content active" id="whatwedo">
	    	<p>We primarily rescue animals that are on death row at local Animal Control agencies to save the lives of the animals. Unfortunately, traditional local shelters are forced to use euthanasia regardless of age or health, as a means to control "overpopulation" of "unwanted" animals. The purpose of our organization is to save discarded companion pets' lives and find new homes for them. We do NOT ship or adopt our pets to homes outside of the state of Florida.</p>
	    	<p>Since we spay and neuter all our pets prior to adoption this guarantees that they cannot contribute offspring to add to the overpopulation in our community.</p>
	    	<p>We do not have a "public shelter". We have a network of foster homes that help take care of our homeless pets until we can find permanent homes for them. We are in great need of volunteers to help with daytime animal care and weekend adoptions.</p>
	    	<p>We need loving foster homes to provide temporary housing for our pets.</p>
	    </div>
	    <div class="about_content" id="ourmission">
	    	<p>To provide safe, temporary housing and medical care, as needed, to rescued pets.</p>
	    	<p>To provide care until permanent placement with new families can be found.</p>
	    	<p>To promote the no-kill philosophy for future generations by guaranteeing each pet's sterility.</p> 
	    	<p>To accept donations and contributions to support the organization's stated goals.</p>
	    </div>
	   	<div class="about_content" id="ourveterinarians">
	    	<h5>A special thank you to our veterinarians! Without their help, our work would not be possible!!</h5>
			<ul id="vet_list">
				<li>Aloma Jancy Animal Hospital<br />
					<span class="vet_info">Phone: (407)-671-1183 | 
						<a href="http://goo.gl/maps/WYy03">Directions</a>
					</span>
				</li>
				<li>Altamonte Veterinary Hospital<br />
					<span class="vet_info">Phone: (407)-339-1922 | 
						<a href="http://goo.gl/maps/yQNMU">Directions</a>
					</span>
				</li>
				<li>East Lake Animal Clinic<br />
					<span class="vet_info">Phone: (352)-735-2882 | 
						<a href="http://goo.gl/maps/8o42W">Directions</a>
					</span>
				</li>
				<li>Four Corners Animal Hospital<br />
					<span class="vet_info">Phone: (352)-242-1950 | 
						<a href="http://goo.gl/maps/EYgx9">Directions</a>
					</span>
				</li>
				<li>Lake Olympia Veterinary Clinic<br />
					<span class="vet_info">Phone: (407)-578-8383 | 
						<a href="http://goo.gl/maps/BvTef">Directions</a>
					</span>
				</li>
				<li>Pet Care Center of Apopka<br />
					<span class="vet_info">Phone: (407)-884-8924 | 
						<a href="http://goo.gl/maps/rez6L">Directions</a>
					</span>
				</li>
				<li>Piedmont Animal Hospital<br />
					<span class="vet_info">Phone: (407)-880-7387 | 
						<a href="http://goo.gl/maps/eHrDk">Directions</a>
					</span>
				</li>
				<li>River Oaks Animal Hospital<br />
					<span class="vet_info">Phone: (407)-774-1515 | 
						<a href="http://goo.gl/maps/PUqCB">Directions</a>
					</span>
				</li>
			</ul>
	    </div>
	    <div class="about_content" id="volunteering">
	    	<p>A New Beginning Pet Care & Rescue, Inc. depends solely upon donations from the community. The number of lives we are able to save each year is completely contingent upon our financial limitations.  Currently we are challenged with extensive veterinary bills as a large number of our recently rescued dogs have tested positive for heartworms and require life saving treatment. We are also faced with a shortage of pet food and cleaning supplies. Your donations would make it possible for us to do more for the thousands of homeless animals in our community who are in desperate need of our help. All donations are 100% tax deductible. Any support you are willing to provide is greatly appreciated.</p>
			<p>Should you have any questions or require additional information, please do not hesitate to contact me at (407) 251-5458.</p>
	    	<p>How you can help by showing up on petsmart on a weekend adoptions</p>
	    </div>
	    <div class="about_content" id="statistics">
	    <table border ="1" cellspacing="0" width="100%" >
	    	<tr>
	    		<th class="table_animal"></th><td class="table_period">2012</td><td class="table_period">2011</td><td class="table_period"> 2010</td><td class="table_period">2009</td><td class="table_period"> 2008</td><td class="table_period"> 2007</td><td class="table_period" > 2006</td><td class="table_period">2005</td><td class="table_period"> 2004</td><td class="table_period"> 2003</td><td class="table_period"> 2002</td>
			</tr>
			<tr>
				<td class="table_animal">Cats</td> <td>21</td><td>37</td><td>56</td><td>79</td><td>49</td><td>70</td><td>55</td><td>80</td><td>118</td><td>117</td><td>138</td>
			</tr>
			<tr>
				<td class="table_animal">Kittens</td><td>25</td><td>119</td><td>89</td><td>104</td><td>155</td><td>123</td><td>67</td><td>121</td><td>197</td><td>208</td><td>196</td>
			</tr>
			<tr>
				<td class="table_animal" >*Dogs</td><td>121 </br>(17 h+)</td><td>357</td><td>440 </br>(27 h+)</td><td>433 </br> (36 h+)</td><td>541 </br>(52 h+)</td><td>486 </br>(43 h+)</td><td>340</br>(30 h+)</td><td>451 </br>(57 h+)</td><td>597</br>(107 h+)</td><td>486 </br>(90 h+) </td><td>335 </br>(23 h+)</td>

			</tr>
		
			<tr>
				<td class="table_animal">Puppies</td><td> 141</td><td>230</td><td>284</td><td>258</td><td>164</td><td>135</td><td>139</td><td>242</td><td>378</td><td>479</td><td>332</td>
			</tr>
			<tr>
				<td class="table_animal">Rabbits</td><td> 2</td><td>15</td><td>8</td><td>29</td><td>16</td><td>11</td><td>0</td><td>17</td><td>3</td><td>0</td><td>0</td>
			</tr>
			<tr>
				<td class="table_animal" >Hamsters</td> <td>0</td><td>1</td><td>0</td><td>0</td><td>3</td><td>1</td><td>2</td><td>2</td><td>0</td><td>0</td><td>0</td>
			</tr>
			<tr>
				<td class="table_animal">Ferrets</td> <td>0</td><td>0</td><td>2</td><td>0</td><td>3</td><td>1</td><td>4</td><td>14</td><td>18</td><td>8</td><td>0</td>
			</tr>
			<tr>
				<td class="table_animal">Guinea Pigs</td> <td>0</td><td>2</td><td>3</td><td>16</td><td>19</td><td>5</td><td>0</td><td>9</td><td>2</td><td>0</td><td>0</td>
			</tr>
		 	<tr>
				<td class="table_animal" >Mice </td> <td>0</td><td>0</td><td>0</td><td>7</td><td>0</td><td>4</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
		 	</tr>
				
			<tr>
				<td class="table_animal" >Rats</td> <td>0</td><td>0</td><td>5</td><td>2</td><td>4</td><td>1</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
			</tr>
			<tr>
				<td class="table_animal">Iguanas</td> <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>1</td><td>0</td><td>0</td><td>0</td>
			</tr>
			<tr>
				<td class="table_animal">Total</td><td>310</td><td>761</td><td>887</td><td>928</td><td>954</td><td>837</td><td>609</td><td>937</td><td>1313</td><td>1298</td><td>1001</td>
			</tr>
	    	
		</table>
		<p>* (h+) = Heartworm positive treated</p>
			
	    </div>
	    <div class="about_content" id="aboutthiswebsite">
	    	<p>This website was developed by Richard Stovall and Carolina Yibirin-Stovall</p>

	    </div>
	</div>
</div>
<div class="clear"></div>